<div class="container">
  <div class="row info-row">
    <div class="col-lg-12">
    	<h3 class="page-title">Фильмы по популярности</h3>
    	<p>Страница {{page}} из {{model.totalPages}}</p>
    </div>
  </div>
  <div class="row list-cards">
		{{#each model.movies as |movie|}}
			{{list-cards movie=movie imageUrl=model.imageUrl}}
		{{/each}}
  </div>
  <div class="row">
  	<div class="col-lg-12 text-center">
  		{{#if isMoreThanOnePage}}
				<p>Страница {{page}} из {{model.totalPages}}</p>
				<ul class="pager">
		  			{{#if isPositivePage}}
					  	<li><a href="#" {{action "prevPage"}}>Назад</a></li>
					  {{/if}}
					  {{#if isLessTotalPages}}
					  	<li><a href="#" {{action "nextPage"}}>Вперед</a></li>
					  {{/if}}
				</ul>
		  {{/if}}
  	</div>
  </div>
</div>
<div class="background-container">
	<div class="background-image"></div>
</div>